<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

  {{> common/head }}

</head>

<body>

  {{> common/header }}
  <div id="homepage-section">
    {{!-- about --}}
    <div class="about page-section" id="2">
      <div class="container">
        <div id="about-section-header">
          <h3>
            About
          </h3>
          <p>It is an amazng one-page theme with great features that offers an incredible experience. It is easy to
            install, make changes, adapt for your business. A modern design with clean lines and styling for a wide
            variety of content, exactly how a business design should be. You can add as many images as you want to the
            main header area and turn them into slider.</p>

          <div class="row">
            <div class="col-lg-4">
              <div id="skills-progress1">
                <div class="skills-progress-bar">
                  <div class="skills-loading">
                    <div class="skills-loading-cricle">

                    </div>
                  </div>
                  <div class="skills-percent">
                    36%
                    <div class="skills-corner"></div>
                  </div>
                  <div class="skills-bottom">
                    <i class="fa fa-font skills-icon"></i>
                    <span>
                      Typography
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div id="skills-progress2">
                <div class="skills-progress-bar">
                  <div class="skills-loading">
                    <div class="skills-loading-cricle">

                    </div>
                  </div>
                  <div class="skills-percent">
                    42%
                    <div class="skills-corner"></div>
                  </div>
                  <div class="skills-bottom">
                    <i class="fa fa-font skills-icon"></i>
                    <span>
                      Typography
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div id="skills-progress3">
                <div class="skills-progress-bar">
                  <div class="skills-loading">
                    <div class="skills-loading-cricle">

                    </div>
                  </div>
                  <div class="skills-percent">
                    13%
                    <div class="skills-corner"></div>
                  </div>
                  <div class="skills-bottom">
                    <i class="fa fa-font skills-icon"></i>
                    <span>
                      Typography
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- about /// --}}
    {{!-- project  --}}
    <div class="project page-section" id="3">
      <div id="project-section-header">
        <h3>
          Projects
        </h3>
        <p>
          You'll love our work. Check it out!
        </p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3  col-md-3 col-sm-12 p-0">
            <div class="project-image1">
              <img src="../assets/273718.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3  col-md-3 col-sm-12 p-0">
            <div class="project-image2">
              <img src="../assets/horrorchildren.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12  p-0">
            <div class="project-image3">
              <img src="/src/static/assets/horrorjpg.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12  p-0">
            <div class="project-image4">
              <img src="../assets/sd.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- project  /// --}}
    {{!-- service --}}
    <div class="service" id="4">
      <div id="service-section-header">
        <h3>Services</h3>
        <p>In order to help you grow your business, our carefully selected experts can advise you in in the following
          areas:</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4  col-md-6 col-sm-12">
            <div class="service-child">

              <i class="fas fa-pencil-alt"></i>

              <h3>Web Design
              </h3>

              <p>Consectetur adipiscing elit. Praesent molestie urna hendrerit erat tincidunt tempus. Aliquam a leo
                risus. Fusce a metus non augue dapibus porttitor at in mauris. Pellentesque commodo...</p>
            </div>
          </div>
          <div class="col-lg-4  col-md-6 col-sm-12">
            <div class="service-child">

              <i class="fas fa-code"></i>

              <h3>Web Design</h3>

              <p>Consectetur adipiscing elit. Praesent molestie urna hendrerit erat tincidunt tempus. Aliquam a leo
                risus. Fusce a metus non augue dapibus porttitor at in mauris. Pellentesque commodo...</p>
            </div>
          </div>
          <div class="col-lg-4  col-md-6 col-sm-12">
            <div class="service-child">

              </h3><i class="fas fa-search"></i>

              <h3>Web Design
              </h3>

              <p>Consectetur adipiscing elit. Praesent molestie urna hendrerit erat tincidunt tempus. Aliquam a leo
                risus. Fusce a metus non augue dapibus porttitor at in mauris. Pellentesque commodo...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- service ///--}}
    {{!-- blog --}}
    <div class="blog" id="5">
      <div id="blog-section-header">
        <h3>
          Blog
        </h3>
        <p>If you are interested in the latest articles in the industry, take a sneak peek at our blog. You have nothing
          to loose!
        </p>
        <div class="d-flex justify-content-center">
          <a href="" class="blog-section-a"><i class="fas fa-arrow-circle-right "></i>sdsd</a>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="blog-section-child">
              <div class="blog-image">
                <img src="/src/static/assets/wds.jpg" alt="">
              </div>
              <div class="post">
                <a href="" class="blog-title-a">We Have Made Illdy Theme SEO Friendly</a>
                <p>Illdy One Page WordPress theme is fully SEO friendly and is ready to help you to achieve the highest
                  rankings…</p>
                <a href="" class="blog-bottom-a"><i class="fas fa-arrow-circle-right"></i> Read more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="blog-section-child">
              <div class="blog-image">
                <img src="/src/static/assets/wds.jpg" alt="">
              </div>
              <div class="post">
                <a href="" class="blog-title-a">Stunning One Page WordPress Theme For Masses</a>
                <p>This theme is not just free, it is free for private and commercial use since it is licensed under
                  GPL…
                </p>
                <a href="" class="blog-bottom-a"><i class="fas fa-arrow-circle-right"></i> Read more</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="blog-section-child">
              <div class="blog-image">
                <img src="/src/static/assets/wds.jpg" alt="">
              </div>
              <div class="post">
                <a href="" class="blog-title-a">Hello World!</a>
                <p>Welcome to colorlib.com. This is our first post around Illdy WordPress theme. Now show that you can
                  make out of it.……</p>
                <a href="" class="blog-bottom-a"><i class="fas fa-arrow-circle-right"></i> Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- blog /// --}}
    {{!-- contact --}}
    <div class="contact" id="6">
      <div class="container">
        <div id="contact-section-header">
          <h3>
            Contact Us
          </h3>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="contact-address">
              <p>Address</p>
              <span>Street 221B Baker Street,
                London, UK</span>
              <p>Customer Support</p>
              <span>E-mail: contact@site.com
                Phone: (555) 555-5555</span>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
          <div class="col-lg-8">
            <form>
              <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="contact-section-input">
                    <label>Your Name (required)</label>
                    <input type="text" class="input-contact">
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                  <div class="contact-section-input">
                    <label>Your Email (required)</label>
                    <input type="email" class="input-contact">
                  </div>
                </div>
                <div class="col-12">
                  <div class="contact-section-input">
                    <label>Subject</label>
                    <input type="text" class="input-contact">
                  </div>
                </div>
                <div class="col-12">
                  <div class="contact-section-input">
                    <label>Your Message</label>
                    <textarea name="" class="input-contact"></textarea>
                  </div>
                </div>
                <div class="d-flex justify-content-end w-100">
                <input type="submit" value="Send" class="contact-us-button">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{!-- contact /// --}}
  </div>
  {{> common/footer }}

</body>

</html>