footer {
    width: 100%;

    .footer-top {
        width: 100%;
        background: #104F59;
        padding: 50px 0;

        p {
            color: #fff;
            font-size: 23px;
            line-height: 32px;
            font-weight: 700;
        }

        ul {
            li {
                list-style: none;
                padding: 5px 0;

                i {
                    color: #fff;
                    transition: .4s;
                    padding-right: 10px;
                }

                a {
                    color: #fff;
                    transition: .4s;

                }

                &:hover {
                    i {
                        color: #f1d204 !important;
                    }

                    a {
                        color: #f1d204 !important;
                    }
                }
            }

        }
    }

    .footer-bottom {
        color: #fff;
        width: 100%;
        background: #f1d204;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 500;

        p {
            margin: 0;
            color: #104F59;
            font-size: 16px;
            font-weight: 500;
            margin-right: 5px;
        }
    }
}