<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-12">
                    <p>PRODUCTS</p>
                    <ul>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Our work</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Club</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">News</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Announcement</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p>INFORMATION</p>
                    <ul>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Pricing</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Terms</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Affiliates</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Blog</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <p>SUPPORT</p>
                    <ul>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Documentation</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">FAQs</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Forums</a></li>
                        <li> <i class="fas fa-angle-right"></i> <a href="">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
       <p>Nazrin Soltanli</p>  © Copyright 18.11.2019
    </div>
</footer>