<div class="walpaper-section page-section" id="1">
    <div id="header">
        <div class="container">
            <div class="header-mother">
                <div class="logo">
                    <img src="/src/static/assets/cropped-footer-logo-1.webp" alt="">
                </div>
                <ul class="menu" id="menu">
                    <li class="nav-item">
                        <a href="#1" class="active">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#2">
                            ABOUT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#3">
                            PROJECT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#4" class="d-flex align-items-center">
                            SERVİCES
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#5" class="d-flex align-items-center">
                            BLOG
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#6">
                            CONTACT
                        </a>
                    </li>
                </ul>
                <button id="toggleMenuButton">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="toggle_menu">
                    <section id="accordion">
                        <ul class="accordion-menu">
                            <li class="responsive-item">
                                <a href="#1">
                                    HOME
                                </a>
                            </li>
                             <li class="responsive-item">
                                <a href="#2">
                                    ABOUT
                                </a>
                            </li>
                          <li class="responsive-item">
                                <a href="#3">
                                    PROJECT
                                </a>
                            </li>
                            <li class="responsive-item">
                                <a href="#4">
                                    SERVICES
                                </a>
                            </li>
                            <li class="responsive-item">
                                <a href="#5">
                                    BLOG
                                </a>
                            </li>
                               <li class="responsive-item">
                                <a href="#6">
                                   CONTACT
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="header-text-section">
        <div class="header-text-div">
            Clean <div class="sd"></div>Slick <div class="sd"></div>Pixel Perfect
        </div>
        <p class="header-text-p">
            lldy is a great one-page theme, perfect for developers and designers but also for someone who just wants a <br>
            new website for his business. Try it now!
        </p>
        <div class="header-text-a">
            <a href="" class="header-a">Learn more</a>
            <a href="" class="header-a">Learn more</a>
        </div>
    </div>

    <a class="scrolltop">
        <i class="fas fa-angle-up"></i>
    </a>

</div>